// ======================================================
// Abstracts :: Variables
// ======================================================

// Color
$white: #fff;

$black: #000;

$gray: #928dab;

$purple: #7300b5;

$blue: #050229;
// Border radius
$border-radius-base: 4px;
$border-radius-large: 16px;