// ======================================================
// Global styles apply across all project
// ======================================================

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.nuxt {
  @include square(100%);
  min-height: 100vh;
  background: linear-gradient(to left, #ad5389, #3c1053);
  padding: 30px;

  &-panel {
    margin: 10px 0;
    border-radius: 4px;
    background-color: rgba($blue, 0.8);
    padding: 20px;
  }

  &-container {
    display: flex;
    border-radius: $border-radius-base;
    flex-direction: column;
    min-height: calc(100vh - 60px);
  }
}